.PropertiesPanel {
    width: 400px;
    background-color: #3d4b6c;
    height: 100vh;
}

.Collapsible {
    margin-bottom: 2px;
}

.Collapsible-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #28334d;
    border: none;
    padding: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.Collapsible-content {
    margin: 8px;
}

.spacing-panel {
    background-color: #14161f;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 12px;
    width: 360px;
    position: relative;
}

.margin-label, .padding-label {
    color: #8b8b8b;
    font-size: 14px;
    position: absolute;
}

.margin-label {
    top: 8px;
    left: 8px;
    font-size: 12px;
}

.padding-label {
    top: 6px;
    left: 5%;
    font-size: 11px;
}

.padding-box {
    border: 4px solid #2a2d3a;
    border-radius: 8px;
    margin: 34px 82px;
    padding: 56px;
    position: relative;
}

.margin.top {
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.margin.right {
    top: 50%;
    right: -88px;
    transform: translateY(-50%);
}

.margin.bottom {
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.margin.left {
    top: 50%;
    left: -88px;
    transform: translateY(-50%);
}

.padding.top {
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.padding.right {
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
}

.padding.bottom {
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.padding.left {
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
}

.highlight {
    border-bottom: 2px dotted #ffd700 !important;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #2a2d3a;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
}

.input {
    background-color: #1e2029;
    border: none;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 6px;
    flex: 1;
    width: 28px;
}

.input-unit {
    background-color: #1e2029;
    border: none;
    color: #ffffff;
    font-size: 14px;
    padding: 0.265rem 0;
    width: 33px;
    text-align: center;
}

.input:focus, .input-unit:focus {
    outline: none;
}

.input-group:focus-within {
    border-color: #47b9dc;
}

.input-group .input-unit {
    margin-left: -1px;
}
